.leaflet-map-pane,
.leaflet-objects-pane,
.leaflet-overlay-pane,
.leaflet-zoom-animated,
.leaflet-marker-pane {
  height: 100%;
  width: 100%;
}
.leaflet-popup {
  margin-left: 5px;
  position: relative;
  width: 200px;
}

.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}

.leaflet-popup-content-wrapper {
  width: 200px;
}
  
.leaflet-popup-content-wrapper {
  margin-top: -75px;
}
  
.leaflet-container { 
  a.leaflet-popup-close-button {
    margin-top: -74px;
    margin-left: 179px;
    top: -70px;
  }
}

.leaflet-sidebar {
  z-index: 1020;
}
.leaflet-sidebar .close {
  right: 0px;
  top: 5px;
  background: transparent;
}
