body
  padding-top 20px
  padding-bottom 20px

.header,
.marketing,
.footer 
  padding-left 15px
  padding-right 15px

/* Custom page header */
.header 
  border-bottom 1px solid #e5e5e5

/* Make the masthead heading the same height as the navigation */
.header h3 
  margin-top 0
  margin-bottom 0
  line-height 40px
  padding-bottom 19px


/* Custom page footer */
.footer 
  padding-top 19px
  color #777
  border-top 1px solid #e5e5e5


/* Customize container */
@media (min-width 768px) 
  .container 
    max-width 730px
  
.container-narrow > hr 
  margin 30px 0

/* Main marketing message and sign up button */
.jumbotron 
  text-align center
  border-bottom 1px solid #e5e5e5

.jumbotron .btn 
  font-size 21px
  padding 14px 24px

/* Supporting marketing content */
.marketing 
  margin 40px 0

.marketing p + h4 
  margin-top 28px

.main-container 
  margin-top 100px

.navbar 
  background-color: #f9f9f9
  border-bottom: 1px solid #e5e5e5  
  .navbar-brand 
    background transparent url(/images/logo.svg) no-repeat 0 41px
    height 80px
    margin-left 0 !important
    padding 0
    overflow hidden
    text-indent 100%
    width 140px
    float left
    padding 0 0
    font-size 18px
    line-height 20px

.animated-ellipsis
  .one 
    opacity 0
    -webkit-animation dot 1.3s infinite
    -webkit-animation-delay 0.0s


  .two 
    opacity 0
    -webkit-animation dot 1.3s infinite
    -webkit-animation-delay 0.2s


  .three 
    opacity 0
    -webkit-animation dot 1.3s infinite
    -webkit-animation-delay 0.3s


@-webkit-keyframes dot 
  0%  
    opacity 0 
  50%  
    opacity 0 
  100%  
    opacity 1 

.control-panel
  .terminal 
    background-color #272822

footer 
  background-color: #eee
  padding 2728220px 0

