.navbar.navbar-fixed-top
    .container
        .navbar-header
            a.navbar-brand(href="/#/")
                = "Indigitus"
.container.start-instance
    .row 
        .col-md-12
            h1.text-center
                ="Starting instance"
                span.animated-ellipsis
                    span.one="."
                    span.two="."
                    span.three="."
            p.time-left.text-center
                ="Time to completion "
                strong="{{timeLeft}} seconds"
                .steps
                    p(ng-repeat="step in steps")
                        ="{{$index+1}} . {{step}}"
