div(style="-webkit-transition: width 1s;background-color: rgba(76,76,110, 0.5); width: {{percentage}}%; position: absolute; top: 0; left: 0; z-index: 1; height: 105px;")
.navbar.navbar-fixed-top
    .container
        .navbar-header
            a.navbar-brand(href="/#/")
                = "Indigitus"

p.time-left.pull-right
    strong="{{timeLeft}}s"
    
.container.start-instance.fill
    .row 
        .col-md-12
            .row 
                .col-md-12
                    h1.text-center
                        ="Starting instance"
                        span.animated-ellipsis
                            span.one="."
                            span.two="."
                            span.three="."
            .row

                .steps
                    p.fade-in(ng-repeat="step in steps")
                        ="{{step}}"
