<h1>Starting instance<span class="animated-ellipsis"><span class="one">.</span><span class="two">.</span><span class="three">.</span>​</span></h1>
<p>{{time}} in seconds</p>
<div class="steps">
<p ng-repeat="step in steps">{{$index+1}} . {{step}}</p>
</div>
