.footer
  .container
    .row
      .col-md-4
        p
          = "©2014 Indigitus AG • Lindenstrasse 4 • CH-6340 Baar"
          br
          = "Trade Register Number CH-170.3.038.029-3"
          br
          = "Board of Directors: Thomas C. Bächtold"
      .col-md-4
        
      .col-md-4
        img.openstack-logo.pull-right(src="images/openstack.png")
      