.footer
  .container
    .row
      .col-md-4
        .holder 
            h3="Legal Information"
            p
              = "©2014 Indigitus AG"
              br
              = "Lindenstrasse 4 • CH-6340 Baar"
              br
              = "CHE-253.562.065 MWST"
              br
              = "Board of Directors: Thomas C. Bächtold"
              #clear

      .col-md-3
        .holder
            h4="About Us"
            p="We offer a Swiss-based cloud computing infrastructure that is as adaptable, flexible and efficient as your business needs it to be."

        
      .col-md-3
      .col-md-3.pull-right
        .holder
            h4="Follow Us"
            div
                ul.cv-social-media
                    a(href='https://www.facebook.com/indigitus')
                        li#facebook.icon-facebook
                    a(href='https://twitter.com/indigitus')
                        li#twitter.icon-twitter
        


//            h4.text-center="Follow Us"
            div
                ul.cv-social-media
                    a(href='https://www.facebook.com/indigitus')
                        li#facebook.icon-facebook
                    a(href='https://twitter.com/indigitus')
                        li#twitter.icon-twitter//
