meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
base(href='/')
title="Indigitus Marketing"
<meta name="viewport" content="width=device-width, initial-scale=1">
meta(name='description', content='')
link(rel='stylesheet', href='bower_components/leaflet-dist/leaflet.css')
link(rel='stylesheet', href='bower_components/jquery.terminal/css/jquery.terminal.css')
link(rel='stylesheet', href='bower_components/nvd3/nv.d3.css')
link(href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic', rel='stylesheet', type='text/css')
link(rel='stylesheet', href='styles/main.css')
<script type="text/javascript" src="//use.typekit.net/lea8mwy.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>