meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
base(href='/')
title="Indigitus Marketing"
meta(name='description', content='')
meta(name='viewport', content='width=device-width')

link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
link(rel='stylesheet', href='bower_components/jquery.terminal/css/jquery.terminal.css')
link(rel='stylesheet', href='styles/main.css')
