script(type='text/javascript', src='//www.google.com/recaptcha/api/js/recaptcha_ajax.js')
script(src='bower_components/jquery/dist/jquery.js')
script(src='bower_components/angular/angular.js')
script(src='bower_components/bootstrap/dist/js/bootstrap.js')
script(src='bower_components/angular-resource/angular-resource.js')
script(src='bower_components/angular-cookies/angular-cookies.js')
script(src='bower_components/angular-sanitize/angular-sanitize.js')
script(src='bower_components/angular-route/angular-route.js')
script(src='bower_components/angular-animate/angular-animate.js')
script(src='bower_components/angular-ui-utils/ui-utils.js')
script(src='bower_components/angular-bootstrap/ui-bootstrap.js')
script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
script(src='bower_components/angular-recaptcha/release/angular-recaptcha.js')
script(src='bower_components/jquery.terminal/js/jquery.terminal-src.js')
script(src='bower_components/jquery-mousewheel/jquery.mousewheel.js')
script(src='bower_components/d3/d3.js')
script(src='bower_components/nvd3/nv.d3.js')
script(src='bower_components/angularjs-nvd3-directives/dist/angularjs-nvd3-directives.js')
script(src='bower_components/leaflet-dist/leaflet.js')
script(src='/bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js')
script(src='/socket.io/socket.io.js')
script(src='scripts/app.js')
script(src='scripts/directives/enter.js')
script(src='scripts/directives/terminal.js')
script(src='scripts/directives/discrete_bar_chart_extended.js')
script(src='scripts/factories/socket.js')
script(src='scripts/controllers/landing_page.js')
script(src='scripts/controllers/start_instance.js')
script(src='scripts/controllers/control_panel.js')

